
body{
    margin: 0;
    overflow:hidden;
}

.game{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.start-screen{

    background-color: darkred;
    border-radius: 25px;
    padding: 30px;

    text-align: center;
    font-size: 66px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;

    width: 300px;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 25%;

    transform: translate(-50%);
}
.start-screen:hover{
    background-color: red;
    cursor: pointer;
}

.game-screen{
    background-color: blue;
    width: 100%;
    height: 100%;
    
}
.player-avatar{
    position: absolute;
    width: 70px;
    height: 117px;
    background-image: url('/src/css/images/player.png');
    background-size:cover;
    z-index: 2;
}
.missile{
    position: absolute;
    background-image: url('/src/css/images/missile_PNG28.png');
    background-size: cover;
    z-index: 2;
}
.enemy{
    position: absolute;
    width: 96px;
    height: 193px;
    background-image: url('/src/css/images/enemy.png');
    background-size:cover;
    z-index: 2;
}
.cloud{
    position: absolute;
    width: 150px;
    height: 82px;
    background-image: url('/src/css/images/cloud.png');
    background-size:cover;
    z-index: 1;
}

.hidden{
    display:none;
}